h1, h3 {
    text-align: center;
}

h1 {
    padding: 30px;
}

h4 {
    padding-bottom: 20px;
}

.container {
    display: flex;
    /*align-items: center;*/
    justify-content: center;
}

.captcha-placeholder {
    width: 400px;
    height: 200px;
}

.captcha-image {
    width: 80%;
    height: 80%;
    display: block;
    margin: 10% auto;
}

.stats-placeholder {
    width: 400px;
    height: 300px;
}

.stats-chart {
    width: 400px;
    height: 300px;
    padding: 100px;
}

.custom-word-placeholder, .selected-word-placeholder {
    width: 300px;
    padding: 5px 20px 20px;
}

.custom-enabled {
    background-color: lightblue;
    border-radius: 2px;
}

.generate {
    padding-top: 20px;
}

input[type="radio"] {
    margin-right: 5px;
}