<!DOCTYPE html>
<html>
<head>
    <title>Captcha Solver</title>
    <script src=https://cdn.jsdelivr.net/npm/chart.js@2.8.0/dist/Chart.min.js></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <script src="../static/js/chart.js"></script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/styles.css">
</head>
<body>
<h1>Captcha Solver</h1>
<div class="container">
    <div class="captcha-placeholder">
        <h3>Captcha</h3>
        <img class="captcha-image" src="{{ user_image }}" alt="User Image">
    </div>
    <div class="stats-placeholder">
        <h3>Prediction</h3>
        <canvas id="stats-chart"></canvas>
    </div>
</div>
<div class="container">
    <h4>What word do you want to generate?</h4>
</div>
<div class="container">
    <form action="/" method="get">
        <div class="container">
            <div class="custom-word-placeholder">
                <div>
                    <input id="custom-id" class="form-control form-control-lg" name="custom" value="{{ captcha_word }}">
                </div>
                <div>
                    <button type="button" class="btn btn-primary" onclick="customized()">Generate custom word</button>
                </div>
            </div>
            <div class="selected-word-placeholder">
                <select id="selected-id" class="form-control form-control-lg" name="word">
                    {% for word in words %}
                        <option {% if word == captcha_word %}selected {% endif %} }}>{{ word }}</option>
                    {% endfor %}
                </select>
                <button type="button" class="btn btn-primary" onClick="selected()">Generate</button>
            </div>
        </div>
    </form>
</div>

<script>
    const labels = [{% for item in labels %}
        "{{item}}",
    {% endfor %}];
    const values = [{% for item in values %}
        "{{item}}",
    {% endfor %}];
    renderChart(labels, values);

    function selected() {
        var e = document.getElementById("selected-id");
        var strUser = e.options[e.selectedIndex].value;
        window.location.href = '/?word=' + strUser
    }

    function customized() {
        var e = document.getElementById("custom-id");
        var strUser = e.value;
        window.location.href = '/?word=' + strUser
    }

</script>

</body>
</html>