<!DOCTYPE html>
<html>
<head>
    <title>Captcha Solver</title>
    <script src="../static/js/http_ajax.googleapis.com_ajax_libs_jquery_3.4.1_jquery.js"></script>
    <script src="../static/js/http_cdn.jsdelivr.net_npm_chart.js@2.8.0_dist_Chart.js"></script>
    <script src="../static/js/bootstrap.min.js"></script>
    <script src="../static/js/chart.js"></script>

    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/styles.css">
</head>
<body>
<h1>Captcha Solver</h1>
<div class="container">
    <div class="captcha-placeholder">
        <h3>Captcha</h3>
        <img class="captcha-image" src="{{ user_image }}" alt="User Image">
    </div>
    <div class="stats-placeholder">
        <h3>Prediction</h3>
        <canvas id="stats-chart"></canvas>
    </div>
</div>
<div class="container">
    <h4>What word do you want to generate?</h4>
</div>
<div class="container">
    <form action="/" method="get">
        <div class="container">

            <div class="selected-word-placeholder custom-enabled" onclick="radioDiv(1)">
                <div class="radio" onchange="onRadioChange()">
                    <label><input type="radio" name="optradio" id="radio1" checked>Choose word from list</label>
                </div>
                <select id="selected-id" class="form-control" name="word">
                    {% for word in words %}
                        <option {% if word == captcha_word %}selected {% endif %} }}>{{ word }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="custom-word-placeholder" onclick="radioDiv(2)">
                <div class="radio" onchange="onRadioChange()">
                    <label><input type="radio" name="optradio" id="radio2">Type your own word</label>
                </div>
                <input id="custom-id" class="form-control" name="custom" value="{{ captcha_word }}">

            </div>
        </div>
        <div class="container generate">
            <button type="button" class="btn btn-primary" onClick="generate()">Generate</button>
        </div>
    </form>
</div>

<script>
    const labels = [{% for item in labels %}
        "{{item}}",
    {% endfor %}];
    const values = [{% for item in values %}
        "{{item}}",
    {% endfor %}];
    renderChart(labels, values);

    function generate() {
        if ($("#radio1").is(":checked")) {
            const e = document.getElementById("selected-id");
            const word = e.options[e.selectedIndex].value;
            window.location.href = '/?word=' + word
        } else {
            const e = document.getElementById("custom-id");
            const word = e.value;
            window.location.href = '/?custom_word=' + word
        }
    }

    function onRadioChange() {
        if ($("#radio1").is(":checked")) {
            $(".custom-word-placeholder").removeClass("custom-enabled");
            $(".selected-word-placeholder").addClass("custom-enabled");
        } else {
            $(".custom-word-placeholder").addClass("custom-enabled");
            $(".selected-word-placeholder").removeClass("custom-enabled");
        }
    }

    function radioDiv(number) {
        if (number === 1) {
            $("#radio1").prop('checked', true);
            $("#radio2").prop('checked', false);
        } else {
            $("#radio2").prop('checked', true);
            $("#radio1").prop('checked', false);
        }
        onRadioChange()
    }

    $(document).ready(function () {
        {% if custom_word %}
            radioDiv(2);
        {% endif %}
    });
</script>

</body>
</html>